<h1>Hello {{getFullName()}}!</h1>

<h2>Your Favorite Color:</h2>
<ul *ngFor ='
  let color of colors;
  let i = index ;
'>
  <li>Color {{i}} is {{color}}</li>
</ul>

<h2>Your Favorite Foods:</h2>

<h3>Add your favorite food.</h3>
<input [(ngModel)]="newFoodName" placeholder="Add Food Name"/>
<button (click)="addFood()">Add Food</button>

<ul class="foodfav-button"*ngFor ='
  let food of foods;
  let i = index ;
'>
  <li>
    <button (click)="removeItem(i)">x</button>
    {{food.name}}
  </li>
</ul>

<button (click)='saySomething()'>Say Something</button>

<h1>{{counter}}</h1>
<button (click)='increment()'>Increment Counter</button>
<button (click)='decrement()'>Decrement Counter</button>

<p>{{phrase}}</p>
<button (click)='addPhrase()'>Add going like crazy!</button>
<button (click)='resetPhrase()'>Reset phrase</button>

<p>{{username}}</p>
<input [(ngModel)]="username" placeholder="enter a username">

